absl-py @ file:///tmp/build/80754af9/absl-py_1607439979954/work
anyio @ file:///D:/bld/anyio_1612745690096/work/dist
argon2-cffi @ file:///D:/bld/argon2-cffi_1605217285838/work
astor==0.8.1
async-generator==1.10
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1605083924122/work
Babel @ file:///home/conda/feedstock_root/build_artifacts/babel_1605182336601/work
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache==1.6.1
backports.weakref==1.0rc1
bleach==1.5.0
brotlipy==0.7.0
certifi==2020.12.5
cffi @ file:///D:/bld/cffi_1613414050902/work
chardet @ file:///D:/bld/chardet_1610093614045/work
cloudpickle==1.6.0
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
contextvars==2.4
cryptography @ file:///D:/bld/cryptography_1612993878325/work
cycler==0.10.0
dataclasses @ file:///home/conda/feedstock_root/build_artifacts/dataclasses_1602075176424/work
decorator==4.4.2
defusedxml==0.6.0
dm-sonnet==1.23
dm-tree==0.1.5
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1605121927639/work/dist/entrypoints-0.3-py2.py3-none-any.whl
gast==0.2.2
google-pasta==0.2.0
grpcio @ file:///C:/ci/grpcio_1597406495377/work
h5py==2.10.0
html5lib==0.9999999
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1593328102638/work
immutables @ file:///D:/bld/immutables_1612966479064/work
importlib-metadata @ file:///tmp/build/80754af9/importlib-metadata_1602276842396/work
ipykernel==5.4.3
ipython @ file:///D:/bld/ipython_1609697945785/work
ipython-genutils==0.2.0
jedi==0.18.0
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1612119311452/work
json5 @ file:///home/conda/feedstock_root/build_artifacts/json5_1600692310011/work
jsonschema==3.0.2
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1610375432619/work
jupyter-core @ file:///D:/bld/jupyter_core_1612125482653/work
jupyter-server @ file:///D:/bld/jupyter_server_1612496862519/work
jupyterlab @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_1612296988614/work
jupyterlab-pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1601375948261/work
jupyterlab-server @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_server_1613491657672/work
Keras==2.2.5
Keras-Applications @ file:///tmp/build/80754af9/keras-applications_1594366238411/work
Keras-Preprocessing==1.1.0
kiwisolver @ file:///C:/ci/kiwisolver_1612282446297/work
Markdown @ file:///C:/ci/markdown_1605111171606/work
MarkupSafe @ file:///D:/bld/markupsafe_1610127633636/work
matplotlib @ file:///C:/ci/matplotlib-suite_1613408055530/work
mistune @ file:///D:/bld/mistune_1610113131762/work
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
nbclassic @ file:///home/conda/feedstock_root/build_artifacts/nbclassic_1610352513187/work
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1612903843315/work
nbconvert @ file:///D:/bld/nbconvert_1605402006314/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1611005694671/work
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1605195931949/work
notebook @ file:///D:/bld/notebook_1610575495048/work
numpy @ file:///C:/ci/numpy_and_numpy_base_1603480701039/work
olefile==0.46
opt-einsum==3.1.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1612459636436/work
pandocfilters==1.4.2
parso==0.8.1
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow @ file:///C:/ci/pillow_1609842634117/work
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1605543085815/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1613068548426/work
protobuf==3.13.0
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1613412098605/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1608055815057/work
pyparsing @ file:///home/linux1/recipes/ci/pyparsing_1610983426697/work
pyreadline==2.1
pyrsistent @ file:///D:/bld/pyrsistent_1610146967272/work
PySocks @ file:///D:/bld/pysocks_1610291695773/work
python-dateutil @ file:///home/ktietz/src/ci/python-dateutil_1611928101742/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1612179539967/work
pywin32==300
pywinpty @ file:///D:/bld/pywinpty_1602377668868/work
PyYAML==5.4.1
pyzmq @ file:///D:/bld/pyzmq_1613478976551/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1608156231189/work
scipy @ file:///C:/ci/scipy_1597675683670/work
Send2Trash==1.5.0
six @ file:///C:/ci/six_1605187303045/work
sniffio @ file:///D:/bld/sniffio_1610318568267/work
tensorboard==1.14.0
tensorflow @ file:///D:/bld/tensorflow_1594833539645/work/tensorflow-1.14.0-cp36-cp36m-win_amd64.whl
tensorflow-estimator==1.14.0
tensorflow-probability==0.7.0
tensorflow-tensorboard==1.5.1
termcolor==1.1.0
terminado @ file:///D:/bld/terminado_1609794344119/work
testpath==0.4.4
tornado @ file:///C:/ci/tornado_1606942379977/work
traitlets==4.3.3
typing-extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1602702424206/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1611695416663/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1600965781394/work
Werkzeug==0.16.1
win-inet-pton @ file:///D:/bld/win_inet_pton_1610147511403/work
wincertstore==0.2
wrapt==1.12.1
zipp @ file:///tmp/build/80754af9/zipp_1604001098328/work
