# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\laboratory\dl_svd\Deep-Learning-for-SVD-and-Hybrid-Beamforming\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
